include *.txt
recursive-include ./OpenOPC_Py38/bin/*.exe
recursive-include ./OpenOPC_Py38/bin/*.bat
recursive-include ./OpenOPC_Py38/bin/*.txt
recursive-include ./OpenOPC_Py38/doc/*.pdf
recursive-include ./OpenOPC_Py38/lib/*.dll
recursive-include ./OpenOPC_Py38/lib/*.bat
recursive-include ./OpenOPC_Py38/static/*.ico