include *.txt
include ./OpenOPC_Py38/bin/*.exe
include ./OpenOPC_Py38/bin/*.bat
include ./OpenOPC_Py38/bin/*.txt
include ./OpenOPC_Py38/doc/*.pdf
include ./OpenOPC_Py38/lib/*.dll
include ./OpenOPC_Py38/lib/*.bat
include ./OpenOPC_Py38/static/*.ico